.card {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 70vh;
  border: 2px solid var(--clr-main-dim);
  margin-bottom: 40px;
  overflow: hidden;
}

.name {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
}

/* INFO TABLE */

.info {
  z-index: 3;
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 300px;

  transform: translate(1px, 1px);
}

.infoCell a {
  border-right: var(--table-border);
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* MEDIA */

@media (max-width: 800px) {
  .card {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 40px;
    max-height: none;
  }

  .info {
    position: relative;
    max-width: calc(100% + 4px);
    margin: 0 -2px -2px;
  }

  .canvas {
    position: relative;
    height: 50vh;
    min-height: 320px;
  }
}
