.canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.canvas iframe {
  width: 100%;
  height: 100%;
}

/* CONTROLS */

.controlsWrap {
  z-index: 2;
  position: absolute;
  bottom: var(--edge-padding);
  right: var(--edge-padding);

  display: flex;
  flex-direction: column;
}

.controlButton {
  margin-top: 10px;
  border: 1px solid var(--clr-main-dim);
}
