.card {
  --table-border: 1px solid var(--clr-main);
  --table-padding: 10px;

  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 70vh;
  border: 2px solid var(--clr-main);
  margin-bottom: 40px;
}

.name {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
}

/* INFO TABLE */

.info {
  z-index: 3;
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 300px;

  font-size: 14px;
  text-transform: uppercase;

  border-left: var(--table-border);
  border-top: var(--table-border);
  border-collapse: collapse;

  transform: translate(1px, 1px);
}

.info th,
.info td,
.info tr {
  padding: 0;
  font-weight: 400;
  text-align: left;
  vertical-align: baseline;
  border: var(--table-border);
}

.info th {
  opacity: 0.4;
}

.info span,
.info a {
  display: table-cell;
  padding: var(--table-padding);
}

.info a:hover {
  background-color: var(--clr-main-light);
  /* background-color: var(--clr-main-dark); */
}

.infoCell a {
  border-right: var(--table-border);
}
