.footer {
  display: flex;
  border: 2px solid var(--clr-main-dim);
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px 40px;
  gap: 50px;
}

.footer span,
.footer p,
.footer a {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--clr-main-dim);
}

.footer p {
  margin: 0;
}

.link {
  cursor: pointer;
  text-decoration: underline;
}

.link:hover {
  color: var(--clr-main-dark);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.author {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.heartIcon {
  margin-left: 8px;
}

/* TOGGLE */

.toggle {
  position: relative;
  width: 34px;
  height: 28px;
  background-color: var(--clr-main-dim);

  margin-left: 28px;
}

.toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: -14px;
  width: 28px;
  height: 28px;
  background-color: #ffd600;
  border-radius: 50%;
}

.toggle:hover {
  background-color: var(--clr-main-dark);
}

.toggleActive::before {
  left: 20px;
}

/* ----- */

.copyright {
  font-size: 14px;
  max-width: 320px;
}

/* ----- */

.links {
  display: flex;
  gap: 20px;
}

/* MEDIA */

@media (max-width: 800px) {
  .footer {
    flex-direction: column;
    margin-top: 0;
    padding: 80px 40px;
  }
}
