.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  max-height: 550px;
}

.name {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.berlinPin {
  width: 140px;
  height: 150px;
}

.title {
  font-family: "Big Shoulders Text", sans-serif;
  text-transform: uppercase;
  text-align: center;
}
