@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@900&family=IBM+Plex+Sans:wght@400;600;700&display=swap");

::selection {
  background-color: var(--clr-main-dim);
  color: var(--clr-white);
}

:root {
  --clr-white: #fff;
  --clr-black: #343434;

  --clr-main: #cdd1c9;
  --clr-main-light: #a8aba5;
  --clr-main-dim: #93978f;
  --clr-main-dark: #70746c;
  --clr-black: #000;

  --clr-background: var(--clr-main);

  --table-border: 1px solid var(--clr-main-dim);
  --table-padding: 10px;
}

html[data-theme="dark"] {
  --clr-main: #343631;
  --clr-main-light: #a8aba5;
  --clr-main-dim: #93978f;
  --clr-main-dark: #7b8175;
  --clr-black: #000;
}

html {
  color-scheme: light;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: var(--clr-background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* TABLES */

table {
  font-size: 14px;
  text-transform: uppercase;
  border: var(--table-border);
  border-collapse: collapse;
}

table th,
table td,
table tr {
  padding: 0;
  font-weight: 400;
  text-align: left;
  vertical-align: baseline;
  border: var(--table-border);
}

table th {
  opacity: 0.4;
}

table span,
table a {
  color: var(--clr-black);
  display: table-cell;
  padding: var(--table-padding);
}

table a:hover {
  background-color: var(--clr-main-light);
  /* background-color: var(--clr-main-dark); */
}

/* RANGE */

.rangeInput {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: var(--table-padding);
  margin-bottom: 5px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 0;
  background: var(--clr-main-light);
  outline: none;
  margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: var(--clr-main-dim);
  border: var(--table-border);
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: var(--clr-main-dark);
  border: 1px solid var(--clr-main-dark);
}
